<h1>All My Tasks</h1>

<%= link_to "Add a new Task", tasks_new_path %>

<% @tasks.each do |task| %>
<h2>
  <%= link_to task.title, task_path(task) %>
  <%= task.completed? ? "(x)" : "( )" %>
</h2>
<% end %>
